<div class="carousel-section">
  <!-- Blurred full-width background -->
  <div
    class="blurred-bg"
    [style.backgroundImage]="'url(' + activeImage + ')'"
  ></div>

  <!-- Centered carousel on top -->
  <div class="carousel-container">
    <ngb-carousel (slide)="onSlide($event)">
      @for (img of images; track img; let i = $index) {
        <ng-template ngbSlide id="{{ i }}">
          <img [src]="img.src" [alt]="img.caption" class="carousel-img" />
          <!--<div class="carousel-caption">
            <h3>{{ img.caption }}</h3>
          </div>-->
        </ng-template>
      }
    </ngb-carousel>
  </div>
</div>
