ngb-carousel {
    display: block;
    width: 80%;
    max-width: 1100px;
    margin-left: 145px;
    margin-top: 20px;
    height: auto;
    /*border-radius: 10px;
    box-shadow: 0 4px 12px rgba(130, 94, 214, 1);*/
    overflow: hidden;
}

/* The wrapper for your slides */
.carousel-wrapper {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/* Each image inside the carousel */
.carousel-wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
}