<mat-toolbar>
    <button matButton routerLink="home" style="font-size: large;">
        <span>Joey Moore Photography</span>
    </button>
    <span class="example-spacer"></span>
    @if (auth.isLoggedIn()) {
        <span>{{auth.user()?.email}}</span>
    }
    <button matIconButton [matMenuTriggerFor]="menu" aria-label="Dropdown">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        @if (auth.isLoggedIn()) {
            <button mat-menu-item (click)="logout()">Logout</button>
            <button mat-menu-item routerLink="bookings">Check Bookings</button>
        }
        @else {
            <button mat-menu-item routerLink="login">Login</button>
        }
    </mat-menu>
</mat-toolbar>
