body {
    background-color: grey;
    display: flex;
    flex-direction: row;
    margin: 0;
    flex-wrap: wrap;
}

.ImgCarousel{
    margin: 3em;
    height: 20em;
    width: 73em;
}

.SelfImg{
    height: 75%;
    width: 20em;
    margin-left: 3em;
    margin-right: 2em;
    margin-bottom: 0;
}

.AboutMe{
    width: 50em;
    margin-bottom: 0;
}

.ButtonGroup{
    display: flex;
    margin-left: 32.5em;
    margin-bottom: 3em;
    margin-top: 0;
}

.Buttons{
    margin-left: 1em;
    margin-right: 1em;
}
