body {
    background-color: grey;
    display: flex;
    flex-direction: row;
    margin: 0;
    flex-wrap: wrap;
}

.ImgCarousel{
    margin: 3em;
    height: 20em;
    width: 73em;
}

.SelfImg {
    display: block;        /* Prevent inline side-by-side behavior */
    width: 80%;            /* Adjust as needed */
    max-width: 600px;      /* Keeps it from getting too big */
    margin: 20px auto;     /* Centers it horizontally and adds space from carousel */
    height: auto;
}

.AboutMe{
    width: 50em;
    margin-bottom: 0;
}

.ButtonGroup{
    display: flex;
    margin-left: 32.5em;
    margin-bottom: 3em;
    margin-top: 0;
}

.Buttons{
    margin-left: 1em;
    margin-right: 1em;
}