
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
background-image: linear-gradient(to bottom, black, grey); background-attachment: fixed; background-size: cover; background-repeat: no-repeat;
background-position: center center;}

/* === Custom NgbCarousel Arrows === */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 100%, 100%;
  width: 3rem;
  height: 3rem;
  filter: none !important;
}

/* Left arrow */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 16 16'%3e%3cpath d='M11 1L3 8l8 7V1z'/%3e%3c/svg%3e") !important;
}

/* Right arrow */
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 16 16'%3e%3cpath d='M5 1l8 7-8 7V1z'/%3e%3c/svg%3e") !important;
}
